<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query & Plot</title>
</head>
<body>
    <main>
        <div>
            <h1>JINABASE</h1>
            <p>
                JINAbase is a database that focuses on metal-poor stars, which are stars that have low abundances of elements heavier than hydrogen and helium. Metal-poor stars are of great interest to astronomers because they provide valuable insights into the early universe's chemical composition and the processes involved in stellar nucleosynthesis. JINAbase, short for Joint Institute for Nuclear Astrophysics Database, is an online resource that compiles observational data on metal-poor stars from various sources Maintained by Dr. Mohammad Mardini and Prof. Anna Frebel. JINAbase aims to facilitate research and collaboration among scientists studying these unique stellar objects.
            </p>
        </div>
        <div>
            <form method="post" action="{% url 'query' %}">
                {% csrf_token %}
                {{ form }}
            <h3>Query For</h3>
            <div>
                <p>
                    1-Reference
                </p>
                <span>Ref</span>
                <select id="references" name="Ref">
                    <option value=""></option>
                    <option value="AFS16">AFS16</option>
                    <option value="ALL12">ALL12</option>
                    <option value="AND09">AND09</option>
                    <option value="AND10">AND10</option>
                    <option value="AOK01">AOK01</option>
                    <option value="AOK02a">AOK02a</option>
                    <option value="AOK02b">AOK02b</option>
                    <option value="AOK02c">AOK02c</option>
                    <option value="AOK02d">AOK02d</option>
                    <option value="AOK05">AOK05</option>
                    <option value="AOK06">AOK06</option>
                    <option value="AOK07a">AOK07a</option>
                    <option value="AOK07b">AOK07b</option>
                    <option value="AOK07c">AOK07c</option>
                    <option value="AOK08">AOK08</option>
                    <option value="AOK09">AOK09</option>
                    <option value="AOK10">AOK10</option>
                    <option value="AOK12">AOK12</option>
                    <option value="AOK13">AOK13</option>
                    <option value="AOK14">AOK14</option>
                    <option value="ARN05">ARN05</option>
                    <option value="Afsar+2012">Afsar+2012</option>
                    <option value="Afsar2018a">Afsar2018a</option>
                    <option value="Aguado+2020">Aguado+2020</option>
                    <option value="Aoki+2017">Aoki+2017</option>
                    <option value="BAB05">BAB05</option>
                    <option value="BAR05">BAR05</option>
                    <option value="BEH10">BEH10</option>
                    <option value="BEN11">BEN11</option>
                    <option value="BER10a">BER10a</option>
                    <option value="BER10b">BER10b</option>
                    <option value="BON09">BON09</option>
                    <option value="BON12">BON12</option>
                    <option value="BUR00">BUR00</option>
                    <option value="Bandyopadhyay+2020">Bandyopadhyay+2020</option>
                    <option value="Battistini2015+2016">Battistini2015+2016</option>
                    <option value="Bensby+2014">Bensby+2014</option>
                    <option value="Boesgaard+2011">Boesgaard+2011</option>
                    <option value="CAF11a">CAF11a</option>
                    <option value="CAF11b">CAF11b</option>
                    <option value="CAF13">CAF13</option>
                    <option value="CAL14">CAL14</option>
                    <option value="CAR02">CAR02</option>
                    <option value="CAS15">CAS15</option>
                    <option value="CAY04">CAY04</option>
                    <option value="CHR04">CHR04</option>
                    <option value="COH03">COH03</option>
                    <option value="COH04">COH04</option>
                    <option value="COH06">COH06</option>
                    <option value="COH07">COH07</option>
                    <option value="COH08">COH08</option>
                    <option value="COH09">COH09</option>
                    <option value="COH13">COH13</option>
                    <option value="COL06">COL06</option>
                    <option value="COW02">COW02</option>
                    <option value="CUI13">CUI13</option>
                    <option value="Caffau+2019">Caffau+2019</option>
                    <option value="Cain+2018">Cain+2018</option>
                    <option value="Casey+2014">Casey+2014</option>
                    <option value="Casey+2017">Casey+2017</option>
                    <option value="Cowan+2005">Cowan+2005</option>
                    <option value="Cowan+2020">Cowan+2020</option>
                    <option value="Duong+2019">Duong+2019</option>
                    <option value="Ezzeddine+2019">Ezzeddine+2019</option>
                    <option value="Ezzeddine+2020">Ezzeddine+2020</option>
                    <option value="FEL09">FEL09</option>
                    <option value="FRA16">FRA16</option>
                    <option value="FRE07a">FRE07a</option>
                    <option value="FRE07b">FRE07b</option>
                    <option value="FRE08">FRE08</option>
                    <option value="FRE10a">FRE10a</option>
                    <option value="FRE15">FRE15</option>
                    <option value="FRE16">FRE16</option>
                    <option value="FUL00">FUL00</option>
                    <option value="FUL04">FUL04</option>
                    <option value="For & Sneden 2010">For & Sneden 2010</option>
                    <option value="Frebel 2019">Frebel 2019</option>
                    <option value="GAL10">GAL10</option>
                    <option value="GAR09">GAR09</option>
                    <option value="GEI05">GEI05</option>
                    <option value="GIL13">GIL13</option>
                    <option value="Goswami & Aoki 2010">Goswami & Aoki 2010</option>
                    <option value="Goswami+2016">Goswami+2016</option>
                    <option value="Gull+2018">Gull+2018</option>
                    <option value="HAN11">HAN11</option>
                    <option value="HAN12">HAN12</option>
                    <option value="HAN14">HAN14</option>
                    <option value="HAN15">HAN15</option>
                    <option value="HAY09">HAY09</option>
                    <option value="HIL02">HIL02</option>
                    <option value="HOL11">HOL11</option>
                    <option value="HOL15">HOL15</option>
                    <option value="HON04">HON04</option>
                    <option value="HON06">HON06</option>
                    <option value="HON07">HON07</option>
                    <option value="HON11">HON11</option>
                    <option value="HOS09">HOS09</option>
                    <option value="HOW15">HOW15</option>
                    <option value="HOW16">HOW16</option>
                    <option value="Hanke+2020">Hanke+2020</option>
                    <option value="Hansen_C+2018">Hansen_C+2018</option>
                    <option value="Hansen_C+2019">Hansen_C+2019</option>
                    <option value="Hansen_C+2020">Hansen_C+2020</option>
                    <option value="Hansen_T+2017">Hansen_T+2017</option>
                    <option value="Hansen_T+2018">Hansen_T+2018</option>
                    <option value="Hansen_T+2020">Hansen_T+2020</option>
                    <option value="Hawkins & Wyse 2018">Hawkins & Wyse 2018</option>
                    <option value="Hill+2017">Hill+2017</option>
                    <option value="Hill+2019">Hill+2019</option>
                    <option value="Holmbeck+2018">Holmbeck+2018</option>
                    <option value="Holmbeck+2020">Holmbeck+2020</option>
                    <option value="ISH10">ISH10</option>
                    <option value="ISH12">ISH12</option>
                    <option value="ISH13">ISH13</option>
                    <option value="ISH14">ISH14</option>
                    <option value="ITO09">ITO09</option>
                    <option value="ITO13">ITO13</option>
                    <option value="IVA03">IVA03</option>
                    <option value="IVA05">IVA05</option>
                    <option value="IVA06">IVA06</option>
                    <option value="JAC15">JAC15</option>
                    <option value="JI16a">JI16a</option>
                    <option value="JI16b">JI16b</option>
                    <option value="JOH02a">JOH02a</option>
                    <option value="JOH02b">JOH02b</option>
                    <option value="JOH04">JOH04</option>
                    <option value="JON05">JON05</option>
                    <option value="JON06">JON06</option>
                    <option value="Ji+2020">Ji+2020</option>
                    <option value="Ji_Frebel+2018">Ji_Frebel+2018</option>
                    <option value="Ji_Frebel+2019">Ji_Frebel+2019</option>
                    <option value="Johnson+2012">Johnson+2012</option>
                    <option value="KEL14">KEL14</option>
                    <option value="KEN14">KEN14</option>
                    <option value="KOC08">KOC08</option>
                    <option value="KOC15">KOC15</option>
                    <option value="Karinkuzhi+2018">Karinkuzhi+2018</option>
                    <option value="Kirby+2012">Kirby+2012</option>
                    <option value="Koch+2016">Koch+2016</option>
                    <option value="Korotin+2018">Korotin+2018</option>
                    <option value="LAI07">LAI07</option>
                    <option value="LAI08">LAI08</option>
                    <option value="LAI09">LAI09</option>
                    <option value="LI13">LI13</option>
                    <option value="LI15a">LI15a</option>
                    <option value="LI15b">LI15b</option>
                    <option value="LI15c">LI15c</option>
                    <option value="LUC03">LUC03</option>
                    <option value="Li+2018">Li+2018</option>
                    <option value="MAS06">MAS06</option>
                    <option value="MAS10">MAS10</option>
                    <option value="MAS12">MAS12</option>
                    <option value="MAS14">MAS14</option>
                    <option value="MCW95">MCW95</option>
                    <option value="MEL10">MEL10</option>
                    <option value="MEL16">MEL16</option>
                    <option value="Mahanta+2016">Mahanta+2016</option>
                    <option value="Mardini+2019a">Mardini+2019a</option>
                    <option value="Mardini+2019b">Mardini+2019b</option>
                    <option value="Mardini+2020">Mardini+2020</option>
                    <option value="Marshall+2019">Marshall+2019</option>
                    <option value="NOR00">NOR00</option>
                    <option value="NOR01">NOR01</option>
                    <option value="NOR02">NOR02</option>
                    <option value="NOR07">NOR07</option>
                    <option value="NOR10">NOR10</option>
                    <option value="NOR12">NOR12</option>
                    <option value="NOR97a">NOR97a</option>
                    <option value="NOR97b">NOR97b</option>
                    <option value="NOR97c">NOR97c</option>
                    <option value="Nagasawa+2018">Nagasawa+2018</option>
                    <option value="Navarrete+2015">Navarrete+2015</option>
                    <option value="Ou+2020">Ou+2020</option>
                    <option value="O’Malley+2017">O’Malley+2017</option>
                    <option value="PLA13">PLA13</option>
                    <option value="PLA14a">PLA14a</option>
                    <option value="PLA14b">PLA14b</option>
                    <option value="PLA15a">PLA15a</option>
                    <option value="PLA15b">PLA15b</option>
                    <option value="PRE00">PRE00</option>
                    <option value="PRE01">PRE01</option>
                    <option value="PRE06">PRE06</option>
                    <option value="Peterson+2011">Peterson+2011</option>
                    <option value="Peterson+2013">Peterson+2013</option>
                    <option value="Placco+2016a">Placco+2016a</option>
                    <option value="Placco+2016b">Placco+2016b</option>
                    <option value="Placco+2017">Placco+2017</option>
                    <option value="Placco+2020">Placco+2020</option>
                    <option value="REN12">REN12</option>
                    <option value="RIC09">RIC09</option>
                    <option value="ROE08">ROE08</option>
                    <option value="ROE09">ROE09</option>
                    <option value="ROE10">ROE10</option>
                    <option value="ROE12a">ROE12a</option>
                    <option value="ROE12b">ROE12b</option>
                    <option value="ROE14a">ROE14a</option>
                    <option value="ROE14b">ROE14b</option>
                    <option value="ROE14c">ROE14c</option>
                    <option value="ROE14d">ROE14d</option>
                    <option value="ROE14e">ROE14e</option>
                    <option value="ROE16a">ROE16a</option>
                    <option value="ROE16b">ROE16b</option>
                    <option value="RUC11">RUC11</option>
                    <option value="RYA91">RYA91</option>
                    <option value="RYA96">RYA96</option>
                    <option value="Rasmussen+2020">Rasmussen+2020</option>
                    <option value="Reggiani+2017">Reggiani+2017</option>
                    <option value="Reggiani+2020">Reggiani+2020</option>
                    <option value="Reichert+2020">Reichert+2020</option>
                    <option value="Roderer+2018">Roderer+2018</option>
                    <option value="Roederer & Barklem+2018">Roederer & Barklem+2018</option>
                    <option value="Roederer & Gnedin+2019">Roederer & Gnedin+2019</option>
                    <option value="Roederer & Lawler+2012">Roederer & Lawler+2012</option>
                    <option value="Roederer+2010">Roederer+2010</option>
                    <option value="Roederer+2012">Roederer+2012</option>
                    <option value="Roederer+2016c">Roederer+2016c</option>
                    <option value="Roederer+2018a">Roederer+2018a</option>
                    <option value="Roederer+2018b">Roederer+2018b</option>
                    <option value="Roederer+2020">Roederer+2020</option>
                    <option value="SAI09">SAI09</option>
                    <option value="SCH07">SCH07</option>
                    <option value="SHE01">SHE01</option>
                    <option value="SHE03">SHE03</option>
                    <option value="SIM10">SIM10</option>
                    <option value="SIQ12">SIQ12</option>
                    <option value="SIQ14">SIQ14</option>
                    <option value="SIV04">SIV04</option>
                    <option value="SIV06">SIV06</option>
                    <option value="SKU15">SKU15</option>
                    <option value="SMI09">SMI09</option>
                    <option value="SNE03">SNE03</option>
                    <option value="SNE16">SNE16</option>
                    <option value="SPI00">SPI00</option>
                    <option value="SPI11">SPI11</option>
                    <option value="SPI12">SPI12</option>
                    <option value="SPI13">SPI13</option>
                    <option value="SPI14">SPI14</option>
                    <option value="SUS16">SUS16</option>
                    <option value="Sakari+2018">Sakari+2018</option>
                    <option value="Sakari+2019">Sakari+2019</option>
                    <option value="Sbordone+2020">Sbordone+2020</option>
                    <option value="Siqueira-Mello+2015">Siqueira-Mello+2015</option>
                    <option value="Skuladottir+2019">Skuladottir+2019</option>
                    <option value="Sneden+2009">Sneden+2009</option>
                    <option value="Spite+2015">Spite+2015</option>
                    <option value="Spite+2019">Spite+2019</option>
                    <option value="TAK11">TAK11</option>
                    <option value="TAN09">TAN09</option>
                    <option value="Valentini+2019">Valentini+2019</option>
                    <option value="WES00">WES00</option>
                    <option value="Xing+2019">Xing+2019</option>
                    <option value="YON13">YON13</option>
                    <option value="ZAC98">ZAC98</option>
                    <option value="ZHA09">ZHA09</option>

                </select>
            </div>
            <div>
                <p>
                    2-Stailer parametrs
                </p>
                <div>
                    <span>Teff</span>
                    <label for="teff-from">
                        From
                    </label>
                    <input id="teff-from" type="text">
                    <label for="teff-to">
                        To
                    </label>
                    <input id="teff-to" type="text">
                </div>
                <div>
                    <span>Logg</span>
                    <label for="logg-from">
                        From
                    </label>
                    <input id="logg-from" type="text">
                    <label for="logg-to">
                        To
                    </label>
                    <input id="logg-to" type="text">
                </div>
                <div>
                    <span>Fe/H</span>
                    <label for="feH-from">
                        From
                    </label>
                    <input id="feH-from" type="text">
                    <label for="feH-to">
                        To
                    </label>
                    <input id="feH-to" type="text">
                </div>
            </div>
            <div>
                <p>
                    3-by chemical element
                </p>
                <div>
                    <span>Select Element 1</span>
                    <select name="" id="">
                        <option value=""></option>
                        <option value="Li">Li</option>
                        <option value="Be">Be</option>
                        <option value="C">C</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="F">F</option>
                        <option value="Na">Na</option>
                        <option value="Mg">Mg</option>
                        <option value="Al">Al</option>
                        <option value="Si">Si</option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="K">K</option>
                        <option value="Ca">Ca</option>
                        <option value="Sc">Sc</option>
                        <option value="Ti">Ti</option>
                        <option value="V">V</option>
                        <option value="Cr">Cr</option>
                        <option value="Mn">Mn</option>
                        <option value="Fe">Fe</option>
                        <option value="Co">Co</option>
                        <option value="Ni">Ni</option>
                        <option value="Cu">Cu</option>
                        <option value="Zn">Zn</option>
                        <option value="Ga">Ga</option>
                        <option value="Ge">Ge</option>
                        <option value="As">As</option>
                        <option value="Se">Se</option>
                        <option value="Rb">Rb</option>
                        <option value="Sr">Sr</option>
                        <option value="Y">Y</option>
                        <option value="Zr">Zr</option>
                        <option value="Nb">Nb</option>
                        <option value="Mo">Mo</option>
                        <option value="Ru">Ru</option>
                        <option value="Rh">Rh</option>
                        <option value="Pd">Pd</option>
                        <option value="Ag">Ag</option>
                        <option value="Cd">Cd</option>
                        <option value="Sn">Sn</option>
                        <option value="Te">Te</option>
                        <option value="Ba">Ba</option>
                        <option value="La">La</option>
                        <option value="Ce">Ce</option>
                        <option value="Pr">Pr</option>
                        <option value="Nd">Nd</option>
                        <option value="Sm">Sm</option>
                        <option value="Eu">Eu</option>
                        <option value="Gd">Gd</option>
                        <option value="Tb">Tb</option>
                        <option value="Dy">Dy</option>
                        <option value="Ho">Ho</option>
                        <option value="Er">Er</option>
                        <option value="Tm">Tm</option>
                        <option value="Yb">Yb</option>
                        <option value="Lu">Lu</option>
                        <option value="Hf">Hf</option>
                        <option value="W">W</option>
                        <option value="Os">Os</option>
                        <option value="Ir">Ir</option>
                        <option value="Pt">Pt</option>
                        <option value="Au">Au</option>
                        <option value="Hg">Hg</option>
                        <option value="Pb">Pb</option>
                        <option value="Bi">Bi</option>
                        <option value="Th">Th</option>
                        <option value="U">U</option>
                    </select>
                    <label for="el1-from">
                        From
                    </label>
                    <input id="el1-from" type="text">
                    <label for="el1-to">
                        To
                    </label>
                    <input id="el1-to" type="text">
                </div>
                <div>
                    <span>Select Element 2</span>
                    <select name="" id="">
                        <option value=""></option>
                        <option value="Li">Li</option>
                        <option value="Be">Be</option>
                        <option value="C">C</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="F">F</option>
                        <option value="Na">Na</option>
                        <option value="Mg">Mg</option>
                        <option value="Al">Al</option>
                        <option value="Si">Si</option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="K">K</option>
                        <option value="Ca">Ca</option>
                        <option value="Sc">Sc</option>
                        <option value="Ti">Ti</option>
                        <option value="V">V</option>
                        <option value="Cr">Cr</option>
                        <option value="Mn">Mn</option>
                        <option value="Fe">Fe</option>
                        <option value="Co">Co</option>
                        <option value="Ni">Ni</option>
                        <option value="Cu">Cu</option>
                        <option value="Zn">Zn</option>
                        <option value="Ga">Ga</option>
                        <option value="Ge">Ge</option>
                        <option value="As">As</option>
                        <option value="Se">Se</option>
                        <option value="Rb">Rb</option>
                        <option value="Sr">Sr</option>
                        <option value="Y">Y</option>
                        <option value="Zr">Zr</option>
                        <option value="Nb">Nb</option>
                        <option value="Mo">Mo</option>
                        <option value="Ru">Ru</option>
                        <option value="Rh">Rh</option>
                        <option value="Pd">Pd</option>
                        <option value="Ag">Ag</option>
                        <option value="Cd">Cd</option>
                        <option value="Sn">Sn</option>
                        <option value="Te">Te</option>
                        <option value="Ba">Ba</option>
                        <option value="La">La</option>
                        <option value="Ce">Ce</option>
                        <option value="Pr">Pr</option>
                        <option value="Nd">Nd</option>
                        <option value="Sm">Sm</option>
                        <option value="Eu">Eu</option>
                        <option value="Gd">Gd</option>
                        <option value="Tb">Tb</option>
                        <option value="Dy">Dy</option>
                        <option value="Ho">Ho</option>
                        <option value="Er">Er</option>
                        <option value="Tm">Tm</option>
                        <option value="Yb">Yb</option>
                        <option value="Lu">Lu</option>
                        <option value="Hf">Hf</option>
                        <option value="W">W</option>
                        <option value="Os">Os</option>
                        <option value="Ir">Ir</option>
                        <option value="Pt">Pt</option>
                        <option value="Au">Au</option>
                        <option value="Hg">Hg</option>
                        <option value="Pb">Pb</option>
                        <option value="Bi">Bi</option>
                        <option value="Th">Th</option>
                        <option value="U">U</option>
                    </select>
                    <label for="el2-from">
                        From
                    </label>
                    <input id="el2-from" type="text">
                    <label for="el2-to">
                        To
                    </label>
                    <input id="el2-to" type="text">
                </div>
                <div>
                    <span>Select Element 3</span>
                    <select name="" id="">
                        <option value=""></option>
                        <option value="Li">Li</option>
                        <option value="Be">Be</option>
                        <option value="C">C</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="F">F</option>
                        <option value="Na">Na</option>
                        <option value="Mg">Mg</option>
                        <option value="Al">Al</option>
                        <option value="Si">Si</option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="K">K</option>
                        <option value="Ca">Ca</option>
                        <option value="Sc">Sc</option>
                        <option value="Ti">Ti</option>
                        <option value="V">V</option>
                        <option value="Cr">Cr</option>
                        <option value="Mn">Mn</option>
                        <option value="Fe">Fe</option>
                        <option value="Co">Co</option>
                        <option value="Ni">Ni</option>
                        <option value="Cu">Cu</option>
                        <option value="Zn">Zn</option>
                        <option value="Ga">Ga</option>
                        <option value="Ge">Ge</option>
                        <option value="As">As</option>
                        <option value="Se">Se</option>
                        <option value="Rb">Rb</option>
                        <option value="Sr">Sr</option>
                        <option value="Y">Y</option>
                        <option value="Zr">Zr</option>
                        <option value="Nb">Nb</option>
                        <option value="Mo">Mo</option>
                        <option value="Ru">Ru</option>
                        <option value="Rh">Rh</option>
                        <option value="Pd">Pd</option>
                        <option value="Ag">Ag</option>
                        <option value="Cd">Cd</option>
                        <option value="Sn">Sn</option>
                        <option value="Te">Te</option>
                        <option value="Ba">Ba</option>
                        <option value="La">La</option>
                        <option value="Ce">Ce</option>
                        <option value="Pr">Pr</option>
                        <option value="Nd">Nd</option>
                        <option value="Sm">Sm</option>
                        <option value="Eu">Eu</option>
                        <option value="Gd">Gd</option>
                        <option value="Tb">Tb</option>
                        <option value="Dy">Dy</option>
                        <option value="Ho">Ho</option>
                        <option value="Er">Er</option>
                        <option value="Tm">Tm</option>
                        <option value="Yb">Yb</option>
                        <option value="Lu">Lu</option>
                        <option value="Hf">Hf</option>
                        <option value="W">W</option>
                        <option value="Os">Os</option>
                        <option value="Ir">Ir</option>
                        <option value="Pt">Pt</option>
                        <option value="Au">Au</option>
                        <option value="Hg">Hg</option>
                        <option value="Pb">Pb</option>
                        <option value="Bi">Bi</option>
                        <option value="Th">Th</option>
                        <option value="U">U</option>
                    </select>
                    <label for="el3-from">
                        From
                    </label>
                    <input id="el3-from" type="text">
                    <label for="el3-to">
                        To
                    </label>
                    <input id="el3-to" type="text">
                </div>
            </div>
            <button type="submit">Search</button>
            </form>
        </div>
        <div>
            {% if filtered_data %}
                <table>
                    <thead>
                        <tr>
                            {% for key in filtered_data.0.keys %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in filtered_data %}
                            <tr>
                                {% for value in row.values %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
        <div>
            <span>X: </span>
            <select id="elementx" name="elementx">
                <option value=""></option>
                <option value="Li">Li</option>
                <option value="Be">Be</option>
                <option value="C">C</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="F">F</option>
                <option value="Na">Na</option>
                <option value="Mg">Mg</option>
                <option value="Al">Al</option>
                <option value="Si">Si</option>
                <option value="P">P</option>
                <option value="S">S</option>
                <option value="K">K</option>
                <option value="Ca">Ca</option>
                <option value="Sc">Sc</option>
                <option value="Ti">Ti</option>
                <option value="V">V</option>
                <option value="Cr">Cr</option>
                <option value="Mn">Mn</option>
                <option value="Fe">Fe</option>
                <option value="Co">Co</option>
                <option value="Ni">Ni</option>
                <option value="Cu">Cu</option>
                <option value="Zn">Zn</option>
                <option value="Ga">Ga</option>
                <option value="Ge">Ge</option>
                <option value="As">As</option>
                <option value="Se">Se</option>
                <option value="Rb">Rb</option>
                <option value="Sr">Sr</option>
                <option value="Y">Y</option>
                <option value="Zr">Zr</option>
                <option value="Nb">Nb</option>
                <option value="Mo">Mo</option>
                <option value="Ru">Ru</option>
                <option value="Rh">Rh</option>
                <option value="Pd">Pd</option>
                <option value="Ag">Ag</option>
                <option value="Cd">Cd</option>
                <option value="Sn">Sn</option>
                <option value="Te">Te</option>
                <option value="Ba">Ba</option>
                <option value="La">La</option>
                <option value="Ce">Ce</option>
                <option value="Pr">Pr</option>
                <option value="Nd">Nd</option>
                <option value="Sm">Sm</option>
                <option value="Eu">Eu</option>
                <option value="Gd">Gd</option>
                <option value="Tb">Tb</option>
                <option value="Dy">Dy</option>
                <option value="Ho">Ho</option>
                <option value="Er">Er</option>
                <option value="Tm">Tm</option>
                <option value="Yb">Yb</option>
                <option value="Lu">Lu</option>
                <option value="Hf">Hf</option>
                <option value="W">W</option>
                <option value="Os">Os</option>
                <option value="Ir">Ir</option>
                <option value="Pt">Pt</option>
                <option value="Au">Au</option>
                <option value="Hg">Hg</option>
                <option value="Pb">Pb</option>
                <option value="Bi">Bi</option>
                <option value="Th">Th</option>
                <option value="U">U</option>
            </select>
            <span>Y: </span>
            <select id="elementy" name="elementy">
                <option value=""></option>
                <option value="Li">Li</option>
                <option value="Be">Be</option>
                <option value="C">C</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="F">F</option>
                <option value="Na">Na</option>
                <option value="Mg">Mg</option>
                <option value="Al">Al</option>
                <option value="Si">Si</option>
                <option value="P">P</option>
                <option value="S">S</option>
                <option value="K">K</option>
                <option value="Ca">Ca</option>
                <option value="Sc">Sc</option>
                <option value="Ti">Ti</option>
                <option value="V">V</option>
                <option value="Cr">Cr</option>
                <option value="Mn">Mn</option>
                <option value="Fe">Fe</option>
                <option value="Co">Co</option>
                <option value="Ni">Ni</option>
                <option value="Cu">Cu</option>
                <option value="Zn">Zn</option>
                <option value="Ga">Ga</option>
                <option value="Ge">Ge</option>
                <option value="As">As</option>
                <option value="Se">Se</option>
                <option value="Rb">Rb</option>
                <option value="Sr">Sr</option>
                <option value="Y">Y</option>
                <option value="Zr">Zr</option>
                <option value="Nb">Nb</option>
                <option value="Mo">Mo</option>
                <option value="Ru">Ru</option>
                <option value="Rh">Rh</option>
                <option value="Pd">Pd</option>
                <option value="Ag">Ag</option>
                <option value="Cd">Cd</option>
                <option value="Sn">Sn</option>
                <option value="Te">Te</option>
                <option value="Ba">Ba</option>
                <option value="La">La</option>
                <option value="Ce">Ce</option>
                <option value="Pr">Pr</option>
                <option value="Nd">Nd</option>
                <option value="Sm">Sm</option>
                <option value="Eu">Eu</option>
                <option value="Gd">Gd</option>
                <option value="Tb">Tb</option>
                <option value="Dy">Dy</option>
                <option value="Ho">Ho</option>
                <option value="Er">Er</option>
                <option value="Tm">Tm</option>
                <option value="Yb">Yb</option>
                <option value="Lu">Lu</option>
                <option value="Hf">Hf</option>
                <option value="W">W</option>
                <option value="Os">Os</option>
                <option value="Ir">Ir</option>
                <option value="Pt">Pt</option>
                <option value="Au">Au</option>
                <option value="Hg">Hg</option>
                <option value="Pb">Pb</option>
                <option value="Bi">Bi</option>
                <option value="Th">Th</option>
                <option value="U">U</option>
            </select>
            <button>Search</button>
           
        </div>
    </main>
</body>
</html> -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'query.css' %}">
    <title>Filtered Data</title>
</head>
<body>

<!-- test.html -->

<form method="post" action="{% url 'filter_data' %}">
    {% csrf_token %}


<div>
    <h3>1- Ref:</h3>
    <!-- <input type="text" name="value" id="value" value="{{ request.POST.value }}"> -->
    <div id="reference">
        <select id="references" name="Ref">
            <option value=""></option>
            {% for ref in unique_refs %}
                <option value="{{ ref }}">{{ ref }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <h3>2-Stailer parameters:</h3>
        <div class="param">
            <p>Teff</p>
            <input type="text" name="Teff" value="{{ request.POST.Teff }}">
            <!-- <label for="TeffFrom">From</label>
            <input type="text" name="TeffFrom" id="value1" value="{{ request.POST.TeffFrom }}">
            <label for="TeffTo">To</label>
            <input type="text" name="TeffTo" id="value1" value="{{ request.POST.TeffTo }}"> -->
        </div>

        <div class="param">
            <p>Logg</p>
            <input type="text" name="logg"  value="{{ request.POST.logg }}">
            <!-- <label for="loggFrom">From</label>
            <input type="text" name="loggFrom" id="value2" value="{{ request.POST.loggFrom }}">
            <label for="loggTo">To</label>
            <input type="text" name="loggTo" id="value2" value="{{ request.POST.loggTo }}"> -->
        </div>

        <div class="param">
            <p>Fe/H</p>
            <input type="text" name="fe_H"  value="{{ request.POST.fe_H }}">
            <!-- <label for="Fe_HFrom">From</label>
            <input type="text" name="Fe_HFrom" id="value3" value="{{ request.POST.Fe_HFrom }}">
            <label for="Fe_HTo">To</label>
            <input type="text" name="Fe_HTo" id="value3" value="{{ request.POST.Fe_HTo }}"> -->
        </div>
    </div> 
        <h3>3-by chemical element</h3>
        <div class="elements">
            
            <label for="el1">Select Element 1</label>
            <select id="el1" name="el1">
                <option value=""></option>
                {% for el in unique_el %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
            <label for="from1">From</label>
            <input type="text" name="from1"  value="{{ request.POST.from1 }}">
            <label for="to1">To</label>
            <input type="text" name="to1"  value="{{ request.POST.to1 }}">
            
        </div>
        <div class="elements">
            <label for="el2">Select Element 2</label>
            <select id="el2" name="el2">
                <option value=""></option>
                {% for el in unique_el %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
            <label for="from2">From</label>
            <input type="text" name="from2"  value="{{ request.POST.from2 }}">
            <label for="to2">To</label>
            <input type="text" name="to2"  value="{{ request.POST.to2 }}">
        </div>
        <div class="elements">
            <label for="el3">Select Element 3</label>
            <select id="el3" name="el3">
                <option value=""></option>
                {% for el in unique_el %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
            <label for="from3">From</label>
            <input type="text" name="from3"  value="{{ request.POST.from3 }}">
            <label for="to3">To</label>
            <input type="text" name="to3"  value="{{ request.POST.to3 }}">
        </div>
    </div>
    <button type="submit">Filter</button>
</div>
</form>

{% if filtered_data %}
<div class="container">
    <table border="1">
        <thead>
            <tr>
                <th>JINA_ID</th>
                <th>Priority</th>
                <th>Ref</th>
                <th>Name</th>
                <th>Simbad_Identifier</th>
                <th>NLTE</th>
                <th>Sci_key</th>
                <th>C_key</th>
                <th>Loc</th>
                <th>Type</th>
                <th>RA</th>
                <th>DEC</th>
                <th>Vel</th>
                <th>Vel_bibcode</th>
                <th>U_mag</th>
                <th>B_mag</th>
                <th>V_mag</th>
                <th>R_mag</th>
                <th>I_mag</th>
                <th>J_mag</th>
                <th>H_mag</th>
                <th>K_mag</th>
                <th>Teff</th>
                <th>logg</th>
                <th>Fe/H</th>
                <th>Vmic</th>
                <th>Li</th>
                <th>Be</th>
                <th>C</th>
                <th>N</th>
                <th>O</th>
                <th>F</th>
                <th>Na</th>
                <th>Mg</th>
                <th>Al</th>
                <th>Si</th>
                <th>P</th>
                <th>S</th>
                <th>K</th>
                <th>Ca</th>
                <th>Sc</th>
                <th>Ti</th>
                <th>V</th>
                <th>Cr</th>
                <th>Mn</th>
                <th>Fe</th>
                <th>Co</th>
                <th>Ni</th>
                <th>Cu</th>
                <th>Zn</th>
                <th>Ga</th>
                <th>Ge</th>
                <th>As</th>
                <th>Se</th>
                <th>Rb</th>
                <th>Sr</th>
                <th>Y</th>
                <th>Zr</th>
                <th>Nb</th>
                <th>Mo</th>
                <th>Ru</th>
                <th>Rh</th>
                <th>Pd</th>
                <th>Ag</th>
                <th>Cd</th>
                <th>Sn</th>
                <th>Te</th>
                <th>Ba</th>
                <th>La</th>
                <th>Ce</th>
                <th>Pr</th>
                <th>Nd</th>
                <th>Sm</th>
                <th>Eu</th>
                <th>Gd</th>
                <th>Tb</th>
                <th>Dy</th>
                <th>Ho</th>
                <th>Er</th>
                <th>Tm</th>
                <th>Yb</th>
                <th>Lu</th>
                <th>Hf</th>
                <th>W</th>
                <th>Os</th>
                <th>Ir</th>
                <th>Pt</th>
                <th>Au</th>
                <th>Hg</th>
                <th>Pb</th>
                <th>Bi</th>
                <th>Th</th>
                <th>U</th>
                <th>CaII</th>
                <th>TiII</th>
                <th>VII</th>
                <th>CrII</th>
                <th>MnII</th>
                <th>FeII</th>
                <th>Added_by</th>
                <th>RA_deg</th>
                <th>dec_deg</th>

            </tr>
        </thead>
        <tbody>
            {% for record in filtered_data %}
                <tr>
                    <td>{{ record.JINA_ID }}</td>
                    <td>{{ record.Priority }}</td>
                    <td>{{ record.Ref }}</td>
                    <td>{{ record.Name }}</td>
                    <td>{{ record.Simbad_Identifier }}</td>
                    <td>{{ record.NLTE }}</td>
                    <td>{{ record.Sci_key }}</td>
                    <td>{{ record.C_key }}</td>
                    <td>{{ record.Loc }}</td>
                    <td>{{ record.Type }}</td>
                    <td>{{ record.RA }}</td>
                    <td>{{ record.DEC }}</td>
                    <td>{{ record.Vel }}</td>
                    <td>{{ record.Vel_bibcode }}</td>
                    <td>{{ record.U_mag }}</td>
                    <td>{{ record.B_mag }}</td>
                    <td>{{ record.V_mag }}</td>
                    <td>{{ record.R_mag }}</td>
                    <td>{{ record.I_mag }}</td>
                    <td>{{ record.J_mag }}</td>
                    <td>{{ record.H_mag }}</td>
                    <td>{{ record.K_mag }}</td>
                    <td>{{ record.Teff }}</td>
                    <td>{{ record.logg }}</td>
                    <td>{{ record.Fe_H }}</td>
                    <td>{{ record.Vmic }}</td>
                    <td>{{ record.Li }}</td>
                    <td>{{ record.Be }}</td>
                    <td>{{ record.C }}</td>
                    <td>{{ record.N }}</td>
                    <td>{{ record.O }}</td>
                    <td>{{ record.F }}</td>
                    <td>{{ record.Na }}</td>
                    <td>{{ record.Mg }}</td>
                    <td>{{ record.Al }}</td>
                    <td>{{ record.Si }}</td>
                    <td>{{ record.P }}</td>
                    <td>{{ record.S }}</td>
                    <td>{{ record.K }}</td>
                    <td>{{ record.Ca }}</td>
                    <td>{{ record.Sc }}</td>
                    <td>{{ record.Ti }}</td>
                    <td>{{ record.V }}</td>
                    <td>{{ record.Cr }}</td>
                    <td>{{ record.Mn }}</td>
                    <td>{{ record.Fe }}</td>
                    <td>{{ record.Co }}</td>
                    <td>{{ record.Ni }}</td>
                    <td>{{ record.Cu }}</td>
                    <td>{{ record.Zn }}</td>
                    <td>{{ record.Ga }}</td>
                    <td>{{ record.Ge }}</td>
                    <td>{{ record.As }}</td>
                    <td>{{ record.Se }}</td>
                    <td>{{ record.Rb }}</td>
                    <td>{{ record.Sr }}</td>
                    <td>{{ record.Y }}</td>
                    <td>{{ record.Zr }}</td>
                    <td>{{ record.Nb }}</td>
                    <td>{{ record.Mo }}</td>
                    <td>{{ record.Ru }}</td>
                    <td>{{ record.Rh }}</td>
                    <td>{{ record.Pd }}</td>
                    <td>{{ record.Ag }}</td>
                    <td>{{ record.Cd }}</td>
                    <td>{{ record.Sn }}</td>
                    <td>{{ record.Te }}</td>
                    <td>{{ record.Ba }}</td>
                    <td>{{ record.La }}</td>
                    <td>{{ record.Ce }}</td>
                    <td>{{ record.Pr }}</td>
                    <td>{{ record.Nd }}</td>
                    <td>{{ record.Sm }}</td>
                    <td>{{ record.Eu }}</td>
                    <td>{{ record.Gd }}</td>
                    <td>{{ record.Tb }}</td>
                    <td>{{ record.Dy }}</td>
                    <td>{{ record.Ho }}</td>
                    <td>{{ record.Er }}</td>
                    <td>{{ record.Tm }}</td>
                    <td>{{ record.Yb }}</td>
                    <td>{{ record.Lu }}</td>
                    <td>{{ record.Hf }}</td>
                    <td>{{ record.W }}</td>
                    <td>{{ record.Os }}</td>
                    <td>{{ record.Ir }}</td>
                    <td>{{ record.Pt }}</td>
                    <td>{{ record.Au }}</td>
                    <td>{{ record.Hg }}</td>
                    <td>{{ record.Pb }}</td>
                    <td>{{ record.Bi }}</td>
                    <td>{{ record.Th }}</td>
                    <td>{{ record.U }}</td>
                    <td>{{ record.CaII }}</td>
                    <td>{{ record.TiII }}</td>
                    <td>{{ record.VII }}</td>
                    <td>{{ record.CrII }}</td>
                    <td>{{ record.MnII }}</td>
                    <td>{{ record.FeII }}</td>
                    <td>{{ record.Added_by }}</td>
                    <td>{{ record.RA_deg }}</td>
                    <td>{{ record.dec_deg }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No matching data found.</p>
{% endif %}

    

</body>
</html>
